@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.center-container {
    padding: 40px;
    padding-top: 10px;
}


nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: #10153B;
    font-family: "Open Sans", sans-serif;

}

a:hover {
    color: #E54560;
}

.left {
    display: flex;
}

.right {
    display: flex;
    gap: 60px
}

h1,
header,
body {
    margin: 0;
}

header {
    background-image: url(./images/homeimage.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 27px;
    color: black;
    background: rgba(248, 242, 242, 0.76);
    padding: 20px 80px;
    display: flex;
    font-weight: lighter;

}

.firstSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 80px;
    gap: 120px;
}


h2 {
    text-align: center;
    font-weight: lighter;
    font-family: "Open Sans", sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;

}

footer {
    background-color: #10153B;
    padding: 60px;
}

.footerimg {
    display: flex;
}

.footertext {
    color: grey;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 200px;
}


.footerinfo {
    color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -180px;

}
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.photo {
    padding-right: 1000px;
    padding-left: 200px;
}


.location {
    display: flex;
    flex-direction: column;

}

.firstSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    gap: 60px;
}

h2 {
    text-align: center;
    font-weight: lighter;
    font-family: "Open Sans", sans-serif;
}

footer {
    background-color: #10153B;
    padding: 60px;
}

.footerimg {
    display: flex;
}

.footertext {
    color: grey;
    font-size: 20px;
    padding-top: 30px;
    gap: 60px
}


.footerinfo {
    color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -180px;

}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.photo {
    padding-right: 1000px;
    padding-left: 200px;
}

.location {
    display: flex;
    flex-direction: column;

}

.firstIcon {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 3px solid gray;
    border-radius: 20px;
    padding: 20px;
}

.secondIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid gray;
    border-radius: 20px;
    padding: 20px;
}

.thirdIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid gray;
    border-radius: 20px;
    padding: 20px;
}

.fourthIcon {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 3px solid gray;
    border-radius: 20px;
    padding: 20px;
}

.firstSection img {

    align-items: center;
}

.bovenop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstIcon img,
.secondIcon img,
.thirdIcon img,
.fourthIcon img {
    width: 210px;
    height: 250px;
}


